/* Global font "Poppins
======================= */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global styles 
===================== */
* {
  font-family: "Poppins", Aerial, sans-serif;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* Global styles
===================== */
:root {
  --bg-color: #e6e6e6;
  --black: #444;
  --deep-green: #0ad2aa;
  --background: #edeff0;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --border-thin: 0.1rem solid rgba(0, 0, 0, 0.2);
  --border-thin-black: 0.1rem solid rgba(0, 0, 0, 0.5);
  --border-thick: 2px solid#F1F1F1;
  --border-thick-black: 2px solid#333;
  --button: #8d0f0f;
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;
  --darkorange: #ff8c00;
  --green: #27ae60;
  --light-black: #666;
  --lightgrey: #ddd;
  --light-color: #777;
  --orangered: #ff4500;
  --primary: #00ff00;
  --secondary: #075f07;
  --white-color: #fff;
}

/* Header section styles
======================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--bg-color);
  width: 20rem;
  border-right: var(--border-thin);
  height: 100%;
  padding: 0.7rem 1.5rem;
  text-align: center;
}

.header .admin img {
  margin: 0.3rem 0;
  border: 0.8rem solid transparent;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  box-shadow: var(--box-shadow);
}

.header .admin h2 {
  color: var(--black);
  font-size: 1.5rem;
}

.header .admin p {
  color: var(--green);
  font-size: 1.1rem;
  text-transform: capitalize;
}

.header .navbar {
  margin-top: 1rem;
}

.header .navbar a {
  display: block;
  margin: 0.9rem 0;
  padding: 0.5rem;
  border-radius: 5rem;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  color: var(--light-black);
  text-transform: capitalize;
  font-weight: 700;
}

.header .navbar > a:hover {
  color: var(--deep-green);
  box-shadow: var(--box-shadow-inset);
}

.header .social-links {
  border-top: var(--border-thin);
  border-bottom: var(--border-thin);
  margin-top: 1.5rem;
  padding: 0.6rem 0.5rem;
}
.header .social-links > a {
  color: var(--light-black);
  margin: 0.2rem 0.8rem;
  font-size: 1.3rem;
}

.header .social-links > a:hover {
  color: var(--deep-green);
}

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* Body active styles
===================== */
body {
  background: var(--bg-color);
  padding-left: 20rem;
}

/* text color styles
=========================== */
.content-box {
  width: 100%;
}

.content-box > h1 {
  color: var(--light-black);
  text-transform: capitalize;
  font-size: 3.5rem;
}
.content-box > p {
  color: var(--black);
  text-transform: capitalize;
  font-size: 1rem;
}

body.active {
  --black: #fff;
  --border-thin: var(--border-thin-black);
  --light-color: #ddd;
  --light-black: #d9dee0;
  --lightgrey: #222;
  --darkorange: #fff;
  --bg-color: #222;
  --orangered: #00ffff;
  --border-thick: var(--border-thick-black);
  --border: 0.1rem solid rgba(0, 0, 0, 0.4);
  --box-shadow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #111 inset,
    -0.4rem -0.4rem 1rem #333 inset;
  --box-shadow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #111 inset,
    -0.4rem -0.4rem 1rem #333 inset;
}

/* Menu toggler begins
===================== */
#menu-btn {
  position: fixed;
  top: 0.8rem;
  left: 0.8rem;
  z-index: 1000;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
  display: none;
}

#menu-btn:hover {
  color: var(--green);
  box-shadow: var(--box-shadow-inset);
}

/* Theme toggler begins
=======================*/
#theme-toggler {
  position: fixed;
  top: 0.8rem;
  right: 0.9rem;
  z-index: 1000;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
}

#theme-toggler:hover {
  color: var(--green);
  box-shadow: var(--box-shadow-inset);
}

/* Flex container (for all sections)
==================================== */
.flex-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

/* Decorated title text
======================= */
.decorated-title-text {
  color: var(--orangered);
  font-weight: 700;
}
/* Home content styles
====================== */
section {
  min-height: 100vh;
}

.home-content {
  background-image: url("../images/7.jpg");
  width: 100%;
  background-position: 100 100;
  background-size: cover;
}
#home-header-one {
  color: var(--white-color);
}
#home-header-two {
  color: var(--white-color);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
#home-paragraph {
  color: var(--white-color);
  margin-bottom: 2.9rem;
}
.link-button {
  color: var(--white-color);
  font-weight: 700;
  background-image: linear-gradient(to bottom right, red, #f75929);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 0.1rem 0.2rem 0.3rem #912903;
}

.link-button:hover {
  background-image: linear-gradient(to bottom right, #f75929, orangered);
  color: var(--background);
  font-weight: 900;
  box-shadow: 0.1rem 0.2rem 04rem 0.5rem #c90a0a;
}

/* Btn  begins
======================= */
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  cursor: pointer;
  background: none;
  color: var(--black);
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
}

.btn:hover {
  box-shadow: var(--box-shadow-inset);
  color: var(--green);
}

/* Contact form styles
=======================*/

.contact-me .content-box form .box {
  padding: 0.5rem 1rem;
  width: 100%;
  background: none;
  color: var(--black);
  font-size: 1rem;
  text-transform: none;
  margin: 0.5rem 0;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.contact-form {
  width: 70%;
  margin: auto;
  border: none;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.contact-me form textarea {
  height: 10rem;
  resize: none;
}

.content-box form .box:focus {
  box-shadow: var(--box-shadow-inset);
}
.content-box form input[type="submit"] {
  font-size: 1rem;
  font-weight: 700;
  display: block;
  width: 100%;
  color: var(--light-black);
}
.content-box form input[type="submit"]:hover {
  color: var(--deep-green);
}
/* Footer styles
================ */
.footer-area {
  padding: 0.95rem 2rem;
  width: 100%;
  color: var(--black);
  text-align: center;
  border-top: var(--border-thin);
  text-transform: capitalize;
}
.footer-area > p {
  font-weight: 700;
  color: var(--light-black);
  font-size: 1.3rem;
}
