/* Media Queries begin
===================================*/
@media (max-width: 991px) {
  html {
    font-size: 65%;
  }
  body {
    padding-left: 0;
  }
  .header {
    left: -110%;
  }
  .header.active {
    left: 0%;
    transition: 0.4s linear;
  }
  #menu-btn {
    display: initial;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 71%;
  }
  .header {
    width: 100%;
    border-right: 0;
  }
}
/* Media Queries end
===================================*/
